@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --darkblue: #2A324B;
    --lightblue: #58699D;
    --grey:#E1E5EE;
    --white:#fff;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--grey);
    color: black;

}

body {
    font-family: "Roboto", "sans-serif";
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {

}

nav {
    background-color: var(--white);
    display: flex;
    padding: 20px;
    border-radius: 8px;
    
}

nav ul {

}

main {

}